.alert {
  padding: 1rem;
  background-color: #36f462;
  color:var(--body_color);
  margin-bottom: 1rem auto;
  align-items: center;
  /* display: inline-block; */
  text-align: center;
  border-radius: 3rem;
}
