*{
  box-sizing: border-box;
  transition: 0s;
}
body{
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background-color: var(--body_background);
}
.heading{
  text-align: center;
  color: var(--body_color);
  font-size: 2rem;
  margin: 1rem auto;
}
.www{
  color: var(--body_color);
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem auto;
}